<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Đăng nhập vào hệ thống</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  />
</head>
<body>
    <h2>Đăng nhập Smart Parking</h2>

    <form method="POST">
        <label><input type="radio" name="mode" value="manual"> Đăng nhập thủ công</label><br>
        <input type="text" name="username" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br><br>

        <button type="submit">Đăng nhập</button>
    </form>
</body>
</html>
